.navbar {
  display: flex;
  padding: 10px;

  .navbar-socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .social-link {
      margin: 5px;
    }
  }
  #brand {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.navbar-filter {
  width: 100vw;
  height: 40px;
  display: flex;
  place-content: center center;
  align-items: center;
  background-color: rgba($color: $primary-color, $alpha: 0.7);
  h3 {
    font-weight: 400;
  }

  input {
    margin: 10px;
  }
}
